# Removing VSCode Components
.vscode

# Removing the PyCache Directory from the Host
__pycache__

# Removing testing secrets for development
unlockrs/tokens.py
.envrc
unlockrs/config.yml

# Removing Old Code that is not used
old